.term {
  &:not(.font-regular) {
    font-family: "CaesarDressing-Regular";
  }
  &.font-regular {
    font-family: "Merriweather-Regular";
  }
  border-radius: 64px;
}
p,
li {
  .term {
    &:not(.font-regular) {
      letter-spacing: 2px;
      font-size: 1.5rem;
    }
    padding: 0 12px;
    line-height: 1.3rem;
    &.small {
      font-size: 1rem;
      display: inline-block;
    }
  }
}
h2 .term {
  &:not(.font-regular) {
    letter-spacing: 3px;
  }
  padding: 0 16px;
}
.display-1 .term {
  &:not(.font-regular) {
    letter-spacing: 8px;
  }
  padding: 0 36px;
}
.display-4 .term {
  &:not(.font-regular) {
    letter-spacing: 5px;
    font-size: 3rem;
  }
  &.font-regular {
    font-size: 3rem;
  }
  line-height: map-get($display-font-sizes, 4);
  padding: 0 24px;
  display: inline-block;
}
