.term {
  &:not(.font-regular) {
    font-family: "CaesarDressing-Regular";
  }
  &.font-regular {
    font-family: "Merriweather-Regular";
  }
  border-radius: 64px;
}
p,
li {
  .term {
    &:not(.font-regular) {
      letter-spacing: 2px;
      @include font-size($font-size-base * 1.2);
    }
    padding: 0 12px;
    &.small {
      @include font-size($font-size-sm * 1.2);
      display: inline-block;
    }
  }
}
h1 .term {
  padding: 0 36px;
}
h2 .term {
  &:not(.font-regular) {
    letter-spacing: 3px;
  }
  padding: 0 16px;
}
.display-1 .term {
  &:not(.font-regular) {
    letter-spacing: 8px;
    font-size: inherit;
  }
  padding: 0 36px;
}
.display-4 .term {
  &:not(.font-regular) {
    letter-spacing: 5px;
    font-size: inherit;
  }
  &.font-regular {
    font-size: inherit;
  }
  padding: 0 24px;
  display: inline-block;
}
