@use "sass:map";

@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Fix negative row positioning
$grid-gutter-width: 0;

// Rebuild $theme-colors scheme
@import "./colors.scss";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/grid";

.container-fluid > .row {
  justify-content: center;
}

.row {
  padding: 15vh 0;
  // Fix exceeding row size causing overflow
  width: 100%;
}

@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";

.navbar {
  z-index: 1000;
}

.navbar-brand img {
  height: 80px;
}

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/type";

/** BUTTONS CUSTO :
  * * Fix hover colors,
  * * ix btn-outline (& hover) border-width. */
@import "./buttons.scss";

@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/card";

img.cover {
  object-fit: cover;
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("/fonts/Merriweather-Regular.ttf");
}

body {
  background: $gray-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather-Regular";
}

h1 {
  margin-top: 20vh;
}

h2 {
  margin-bottom: map.get($spacers, 5);
}

h3 {
  margin-top: map.get($spacers, 4);
  margin-bottom: map.get($spacers, 4);
}

p,
li,
.btn {
  font-size: 1.3rem;
  letter-spacing: 0.12rem;
}

footer {
  color: $gray-100;
  background: $gray-900;
}
