@use "sass:map";

@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Fix negative row positioning
$grid-gutter-width: 0;

// Rebuild $theme-colors scheme
@import "./colors.scss";

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

.container-fluid > .row {
  justify-content: center;
}

.row {
  padding: 100px 0;
  // Fix exceeding row size causing overflow
  width: 100%;
}

.row.spaced {
  padding: calc(150px + 15vh);
}

@import "./nav-navbar.scss";

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/type";

/** BUTTONS CUSTO :
  * * Fix hover colors,
  * * ix btn-outline (& hover) border-width. */
@import "./buttons.scss";

@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/card";

@font-face {
  font-family: "Merriweather-Regular";
  src: url("/fonts/Merriweather-Regular.ttf");
}

img.cover {
  object-fit: cover;
}

.full-img-container {
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

body {
  background: $gray-100;
}

@import "./headers.scss";

p,
li,
.btn {
  font-size: 1.3rem;
  letter-spacing: 0.025rem;
}

footer {
  color: $gray-100;
  background: $gray-900;

  a,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: inherit;
  }

  li {
    margin: map-get($spacers, 2) 0;
  }

  /* ul,
  p:not(.h4) {
    font-weight: lighter;
  } */
}
