@use "sass:map";

@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Fix negative row positioning
$grid-gutter-width: 0;

// Rebuild $theme-colors scheme
@import "./colors.scss";

$font-size-base: 1.3rem;

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

.container-fluid > .row {
  justify-content: center;
}

.row {
  padding: 100px 0;
  // Fix exceeding row size causing overflow
  width: 100%;
  &.spaced {
    padding: calc(150px + 15vh);
  }
}

.container-fluid a {
  text-decoration: none;
}

@import "./nav-navbar.scss";

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/type";

/** BUTTONS CUSTO :
  * * Fix hover colors,
  * * ix btn-outline (& hover) border-width. */
@import "./buttons.scss";

$table-cell-padding-x: map-get($spacers, 3);
$table-cell-padding-y: map-get($spacers, 3);
@import "../../node_modules/bootstrap/scss/tables";

@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/card";

@font-face {
  font-family: "Merriweather-Regular";
  src: url("/fonts/Merriweather-Regular.ttf");
}
.font-merri {
  font-family: "Merriweather-Regular";
}

@font-face {
  font-family: "CaesarDressing-Regular";
  src: url("/fonts/CaesarDressing-Regular.ttf");
}
.font-cae {
  font-family: "CaesarDressing-Regular";
}

img.cover {
  object-fit: cover;
}

.full-img-container {
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

body {
  background: $gray-100;
}

@import "./headers.scss";

p,
li,
.btn,
td {
  font-size: 1.3rem;
  letter-spacing: 0.025rem;
}

@media (max-width: 767px /** `md` - 1px */) {
  p,
  li {
    &.fit-small {
      font-size: 1.05rem;
    }
  }
  table tr {
    display: flex;
    flex-direction: column;
    width: calc(100vw - (2 * map.get($spacers, 4)));
    > :first-child {
      align-self: start;
    }
    > * {
      width: 100%;
    }
  }
}

.mb-6 {
  margin-bottom: 5rem;
}

figure {
  margin: 48px 0;
  > img {
    max-width: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  > figcaption {
    font-size: 1rem;
  }
}

.font-size-initial {
  font-size: initial;
}

@import "./components/footer";
@import "./components/mini-row-absolute";
@import "./components/term.scss";
