h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather-Regular";
}

h1 {
  font-size: calc(2.5rem + 2.5vw);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h2 {
  margin-top: map.get($spacers, 5);
  margin-bottom: map.get($spacers, 5);
}

h3 {
  margin-top: map.get($spacers, 4);
  margin-bottom: map.get($spacers, 4);
}
