@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";

.navbar {
  z-index: 1000;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-brand {
  :first-child {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    z-index: -1;
    margin-left: -45px;
    margin-top: -75px;
    transition: transform 0.3s ease-in-out;
  }
  img {
    height: 80px;
  }
  &:hover > :first-child {
    transform: scale(1.4);
  }
}

@media (max-width: 575px /** `sm` - 1px */) {
  .nav-link {
    width: 100%;
  }
}
